.contact-inner-container {
  margin: auto;
  max-width: 45em;
  margin-top: 6em;
  background-color: #0f121a;
  padding: 2.5em;
  border-radius: 0.6em;
}

.icon-container {
  display: flex;
}

.icon-container > * {
  margin: 0.4em;
}
