@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-rgb: 23, 26, 36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

p {
  font-size: 0.95em;
}

.page-title {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}

.flat-box {
  color: #ffffffc4;
  border-radius: 10px;
  background-color: #1b212d57;
  box-shadow: 0.5em 0.5em 0.1em rgba(15, 18, 26, 0.53);
}
