@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-rgb: 23, 26, 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

p {
  font-size: 0.95em;
}

.page-title {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}

.header-font {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}

.link:hover {
  filter: opacity(75%);
}

.link-accent > a {
  color: #ff6900;
}

.link-accent > a:hover {
  color: #c85300;
}
